python_telegram_bot==20.6
SQLAlchemy==2.0.20
peewee==3.16.3
peewee-migrations==0.3.32
PyYAML==6.0.1
pymysql==1.1.1
cryptography==41.0.3
result~=0.13.1
uvicorn==0.25.0
fastapi==0.105.0
pydantic~=2.5.2
StrEnum==0.4.15
starlette~=0.27.0
setuptools==72.2.0
requests==2.31.0
aioredlock==0.7.3
redis==5.0.3