:root {
  --tg-bg-color: #282c34;
    --tb-bg-color-rgb: 40, 44, 52; /* RGB for Telegram background */
  --tg-text-color: #fff;
    --tg-text-color-rgb: 255, 255, 255; /* RGB for Telegram text */
  --tg-hint-color: #b87474;
    --tg-hint-color-rgb: 85, 85, 85; /* RGB for Telegram hint text */
  --tg-link-color: #61dafb;
    --tg-link-color-rgb: 97, 218, 251; /* RGB for Telegram link text */
  --tg-button-color: #444;
    --tg-button-color-rgb: 68, 68, 68; /* RGB for Telegram button */
  --tg-button-text-color: #fff;
    --tg-button-text-color-rgb: 255, 255, 255; /* RGB for Telegram button text */
}

p {
  color: var(--tg-text-color);
}

div.status-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--tg-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/open_sans.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url(fonts/ubuntu_mono.ttf) format('ttf');
}

.App-link {
  color: var(--tg-link-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  margin: 1rem;
}

span.mono {
  font-family: 'Ubuntu Mono', sans-serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

$header-height: 6rem;

div.poll-container {
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: auto;

  & div.title {
    margin: auto;
    position: fixed;
    display: flex;
    height: $header-height;
    font-size: 1.4rem;
    width: 100%;

    top: 0;
    left: 0;
    background: linear-gradient(
      to top,
      rgba(var(--tg-bg-color-rgb), 0) 0%,
      rgba(var(--tg-bg-color-rgb), 0.7) 30%,
      rgba(var(--tg-bg-color-rgb), 1.0) 100%
    );

    & > p {
      width: fit-content;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: auto;
      color: var(--tg-text-color);
      // font-family: 'Ubuntu Mono', sans-serif;
    }
  }

  & > div.buffer {
    height: $header-height;
    width: 100%;
  }

  & > div.poll-selector {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;

    & > div.poll-options {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      // margin-left: auto;
      // margin-right: auto;
      overflow-y: auto;
      gap: 0.5rem;

      &:empty {
        display: none;
      }

      & > div.poll-option {
        &:first-child {
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        &:last-child {
          border-bottom-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
      }

      & div.poll-option {
        display: flex;
        border: 2px solid rgba(var(--tg-text-color-rgb), 0.5);
        cursor: pointer;

        &:active {
          border-color: var(--tg-hint-color);
        }

        & > p {
          color: var(--tg-text-color);
          font-family: 'Ubuntu Mono', sans-serif;
          font-size: 1rem;

          &.index {
            width: 1.5rem;
            text-align: right;
            margin-right: 1rem;
            flex-shrink: 0;
          }

          &.option {
            margin-right: 1.5rem;
            text-align: left;
          }
        }
      }

      & > div.special-votes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;

        & > div.poll-option {
          padding-left: 1rem;
          padding-right: 1rem;
        }

        &:first-child {
          & > div.poll-option {
          &:first-child {
            border-top-left-radius: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 0.5rem;
          }
          }
        }

        & > div.poll-option {
          flex-grow: 1;

          &:first-child {
            border-bottom-left-radius: 0.5rem;
          }
          &:last-child {
            border-bottom-right-radius: 0.5rem;
          }

          & > p {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }

  & > span.mono {
    margin-top: 2rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: var(--tg-text-color);
  }
}